<%- include("partials/header.ejs") %>


    <div class = "container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Cities</h1>
                <p>
                    <a class="btn btn-primary btn-lg" href="/cities/new">Click to Add New City</a>
                </p>
            </div>
        </header>
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% cities.forEach(function(city){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= city.img %>">
                        <div class="caption">
                            <h4><%= city.name %></h4>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div>
            <a class="btn btn-primary btn-lg" href="/"> click to go Homepage </a>
        </div>
    </div>

<%- include("partials/footer.ejs") %>



